body, html {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: normal;
    height: 100%;
    color: #444;
    background-color: rgba(0, 0, 0, 0.02);
}

* {
    box-sizing: border-box;
}

.menu {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu > ul > li > ul.dropdown {
    display: none;
}

.menu > ul > li {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.menu > ul > li > a {
    padding: 12px 24px;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    transition: 0.1s color ease-in-out, 0.1s background-color ease-in-out;
}

.menu > ul > li.selected > a {
    font-weight: bold;
    color: #FFF;
    background-color: black;
}

.menu > ul > li > a:hover {
    color: #FFF;
    background-color: black;
}

.menu > ul > li.has-dropdown {
    position: relative;
}

.menu > ul > li.has-dropdown:hover .dropdown {
    display: flex;
}

.menu > ul > li.has-dropdown > .dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 200%;
    margin-left: -50%;
    border-radius: 6px;
}

.menu > ul > li.has-dropdown > .dropdown > li > a {
    padding: 12px;
    display: block;
    text-decoration: none;
    color: inherit;
    transition: 0.1s color ease-in-out, 0.1s background-color ease-in-out;
}

.menu > ul > li.has-dropdown > .dropdown > li > a:hover {
    background-color: rgba(0, 0, 0, 0.025);
    color: #000;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.container > .header {
    text-align: center;
}

.boxes {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 18px;
    flex-wrap: wrap;
}

.boxes > .box {
    border-radius: 6px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFF;
    flex: 1 1 30%;
}

.boxes > .box > .title {
    margin: 0;
}

.boxes > .box > p {
    margin: 0;
}

.newsletter-subscribe {
    width: 100%;
    margin-top: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 16px;
}

.newsletter-subscribe > .newsletter-form {
    display: flex;
    gap: 12px;
}

.newsletter-subscribe > .newsletter-form > input[type="text"] {
    border: none;
    padding: 18px;
    flex: 1 1 75%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: inherit;
}

.newsletter-subscribe > .newsletter-form > input[type="submit"] {
    border: none;
    padding: 12px;
    flex: 1 1 20%;
    background: linear-gradient(to bottom, rgb(105, 91, 211), rgb(81, 28, 189));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #FFF;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: 0.2s box-shadow ease;
}

.newsletter-subscribe > .newsletter-form > input[type="submit"]:hover {
    box-shadow: 0 0 6px rgb(105, 91, 211);
}